<div class="header">
  <app-header></app-header>
  <app-first></app-first>
</div>

<div class="Center">
  <p>Angular Basic Brushup sample code</p>
</div>
<hr>

<div class="container">
  <form id="employee" class="form">
    <h3>Employee Details</h3>
    <div class="form-control">
      <label for="employeecode">Employee Code</label>
      <input type="text" name="employeecode" placeholder="Enter employee code" [(ngModel)]="EmployeeModel.employeeCode">
    </div>
    <div class=" form-control ">
      <label for="employeename ">Employee Name</label>
      <input type="text" name="employeename " placeholder="Enter employee name" [(ngModel)]="EmployeeModel.employeeName">
    </div>
    <div class="form-control ">
      <label for="employeesalary ">Employee Salary</label>
      <input type="text" name="employeesalary " placeholder="Enter employee salary" [(ngModel)]="EmployeeModel.employeeSalary">
    </div>
    <button type="submit" (click)="addEmployee()" class="btn btn-primary">Add Employee</button>
  </form>
</div>
<br> {{EmployeeModel.employeeCode}}
<br> {{EmployeeModel.employeeName}}
<br> {{EmployeeModel.employeeSalary}}
<hr>
<table class="table table-striped">
  <tr *ngFor="let employee of EmployeeModels">
    <td>{{employee.employeeCode}}</td>
    <td>{{employee.employeeName}}</td>
    <td>{{employee.employeeSalary}}</td>
  </tr>
</table>

<div class="box">
  <app-temp-converter></app-temp-converter>
</div>

<div class="box">
  <app-rxjs></app-rxjs>
</div>

<hr>
<div class="box1">
  <app-user></app-user>
</div>

<hr>
<i>Parent to Child component communication</i>

<div class="box">
  <app-parent></app-parent>
</div>

<hr>
<i>Exceptions</i>

<div class="box">
  <app-sample-error></app-sample-error>
</div>

<hr>

<div class="box">
  <app-directives></app-directives>
</div>

<div appChangeColor>
  <p>This is custom directive, using the selector and passing to the host element,This will apply the color red</p>
</div>
